@model ResetPasswordDto

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>

<div class="main-agileinfo">
	<div class="agileits-top">

		<div asp-validation-summary="All" class="m-3 alert-info"></div>

		<form asp-action="ResetPassword">
			<input class="text email" asp-for="NewPassword" placeholder="New password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">

			<input type="submit" value="Reset Password">
		</form>
		<p>Don't have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>